<!doctype html>
<html ng-app="myapp">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-controller="ctrl1 as c1">
        <div>
            <label>Name:</label>
            <input type="text" ng-model="c1.yourName" placeholder="Enter a name here">
            <h1>{{c1.greeting}} {{c1.yourName}}!</h1>
            <div ng-controller="ctrl2 as c2">
                <h1>{{c2.greeting}} {{c2.yourName}}!</h1>
                <button ng-click="c2.yourName = c1.yourName">Update Controller 2</button>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="example/example2.js"></script>
</body>

</html>