<!doctype html>
<html ng-app="myapp">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-controller="ctrl1 as ctrl">
        I have {{ctrl.friends.length}} friends. They are:
        <input type="search" ng-model="ctrl.q" placeholder="filter friends..." aria-label="filter friends" />
        <ul class="list-group example-animate-container">
            <li class="list-group-item animate-repeat" ng-repeat="friend in ctrl.friends | filter:ctrl.q as results track by friend.name">
                [{{$index + 1}}] {{friend.name | uppercase}} who is {{friend.age}} years old.
            </li>
            <li class="animate-repeat" ng-if="results.length === 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="example/example6.js"></script>
</body>

</html>