<!doctype html>
<html ng-app="myapp">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row" ng-controller="ctrl1 as ctrl">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ctrl.url}}
                </div>
                <div class="form-group">
                    <label class="form-label"> a : </label><input class="form-control" type="number" ng-model="ctrl.a">
                </div>
                <div class="form-group">
                    <label class="form-label"> b : </label><input type="number" class="form-control" ng-model="ctrl.b">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.add()">a+b</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.sub()">a-b</button>
                </div>
                <div class="form-group">
                    <div>Result = {{ctrl.result}}</div>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="example/example9.js"></script>
</body>

</html>